
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Resto</title>
</head>
<body>
<header>
    <a href="#" class="logo"><span>R</span>esto</a>
    <div class="menutoggle" (click)="toggleMenu()" Toggle Menu></div>
    <ul class="nav">
        <li><a href="#ban" (click)="toggleMenu()">Acceuil</a></li>
        <li><a href="#apropos" (click)="toggleMenu()">A propos</a></li>
        <li><a href="#menu" (click)="toggleMenu()">Menu</a></li>
        <li><a href="#contact" (click)="toggleMenu()">Contact</a></li>
        <a href="reservation.component.html" class="bts" (click)="toggleMenu()">Réservation</a>
    </ul>
</header>
<section class="ban" id="ban">
    <div class="cont">
        <h2>Que des plats sains et délicieux</h2>
        <p>nhjbjhuifhifhjhihuihuihuifhuifhuihvfuhfuhfuhdhhiohffffffdddihhhhdsjuujjhchuidhiisqhhsqihsqiojqihdihuhihihishhioqiohisqohjsihoisioshjihi</p>
        <a href="index2.html" class="b1" target="_blank">Notre Menu</a>
        <a href="reservation.component.html" class="b2" target="_blank">Réservation</a>
    </div>
</section>
<section class="apropos" id="apropos">
    <div class="row">
        <div class="im">
            <h2 class="titre"><span>A</span> Propos</h2>
            <p>    dijjkdsjjejsdksjjjjjjjqijhhffhufhufhfhfhfyuegfuguegyugeygurghugfguyegfyufgyuhfg
                hvfgeyzgfygyuegfygyugyugygfhyugyufhgyuhyufgfygfyugehggfurehfyrhfygurrfgyurhfufr
                tgffffffffffffffffffffffffffffffffffffffffffffffdgfggfggggggggggggggggggggggggg
            </p>
        </div>
        <div class="im">
            <div class="img">
                <img src="../../../assets/images/image1.jpg" alt="image">
            </div>
        </div>
    </div>
</section>
<section class="menu" id="menu">
    <div class="tire">
        <h2 class="titre"><span>M</span>enu</h2>
        <p>fkjkjrjjijgggggggggggggggggggggggggggggggggggggggggggggggi.</p>
    </div>
    <div class="contenu">
        <div class="box">
            <div class="inbox">
                <img src="../../../assets/images/image2.jpg" alt="">
            </div>
            <div class="text">
                <h3>Avocat simple</h3>
            </div>
        </div>
        <div class="box">
            <div class="inbox">
                <img src="../../../assets/images/image3.jpg" alt="">
            </div>
            <div class="text">
                <h3>Air fryer Plantains et poulet </h3>
            </div>
        </div>
        <div class="box">
            <div class="inbox">
                <img src="../../../assets/images/image4.jpg" alt="">
            </div>
            <div class="text">
                <h3>Haricots vert avec penne pasta crémeux</h3>
            </div>
        </div>
        <div class="box">
            <div class="inbox">
                <img src="../../../assets/images/image5.jpg" alt="">
            </div>
            <div class="text">
                <h3>Spaghetti brocoli 🥦 haricots vert oignons et bouillon de viande</h3>
            </div>
        </div>
        <div class="box">
            <div class="inbox">
                <img src="../../../assets/images/image6.jpg" alt="">
            </div>
            <div class="text">
                <h3>Attieke poisson tilapia au four plus crudités (oignons poivrons rouge concombre 🥒 moutarde cube maggi huile)</h3>
            </div>
        </div>
        <div class="box">
            <div class="inbox">
                <img src="../../../assets/images/image7.jpg" alt="">
            </div>
            <div class="text">
                <h3>wiped cream chocolate</h3>
            </div>
        </div>
        <div class="box">
            <div class="inbox">
                <img src="../../../assets/images/image8.jpg" alt="">
            </div>
            <div class="text">
                <h3>Atiéké</h3>
            </div>
        </div>
        <div class="box">
            <div class="inbox">
                <img src="../../../assets/images/image9.jpg" alt="">
            </div>
            <div class="text">
                <h3>Plantin bouillie avec du jus</h3>
            </div>
        </div>
        <div class="box">
            <div class="inbox">
                <img src="../../../assets/images/image10.jpg" alt="">
            </div>
            <div class="text">
                <h3>Akassa avec feuille amer au poisson</h3>
            </div>
        </div>
        <div class="box">
            <div class="inbox">
                <img src="../../../assets/images/image11.jpg" alt="">
            </div>
            <div class="text">
                <h3>Riz au saumon 🍣 poivrons (rouge et jaune) oignons ail gingembre</h3>
            </div>
        </div>
        <div class="box">
            <div class="inbox">
                <img src="../../../assets/images/image12.jpg" alt="">
            </div>
            <div class="text">
                <h3>Télibor (pâte noir) avec sauce crin-crin et friture</h3>
            </div>
        </div>
    </div>
 <div class="tire">
    <a href="index3.html" class="b1" target="_blank">Voir Plus</a>
 </div>
</section>
<section class="contact" id="contact">
    <div class="tire">
        <h2 class="titre"><span>C</span>ontact</h2>
        <p>jnjjdhuiehdubhguygygyugyuguygeygygyggygyyyyg</p>
    </div>
    <div class="form">
        <h3>Inscription</h3>
        <form action="/inscription" method="post">
            <div class="inputboite">
                <input type="text" name="nom" placeholder="Nom" required>
            </div>
            <div class="inputboite">
                <input type="text" name="prenom" placeholder="Prenom" required>
            </div>
            <div class="inputboite">
                <input type="email" name="email" placeholder="Email" required>
            </div>
            <div class="inputboite">
                <input type="password" name="mot_de_passe" placeholder="Mot de passe" required>
            </div>
            <div class="inputboite">
                <input type="password" name="conf_mot_de_passe" placeholder="Confirmer le mot de passe" required>
            </div>
            <div class="inputboite">
                <input type="submit" value="S'inscrire">
            </div>
        </form>
    </div>
</section>

<div class="copyright">
    <p>copyright 2023 <a href="#">Imty</a> Tous droits reservé.</p>
</div>
</body>

